.navbar-brand {
    font-size: 37px;
    font-weight: 400;
  }

  .nav-link {
    font-size: 19px;
    font-weight: 400;
  }
  
.navbar-nav {
    display: flex;
    list-style: none;
    margin-left: auto;
    padding: 0;
} 

.nav-link.active {
  text-decoration: underline;
  color: red;
}
