.navbar-brand {
    font-size: 37px;
    font-weight: 400;
  }

  .nav-link {
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
.navbar-nav {
    display: flex;
    list-style: none;
    margin-left: auto;
    padding: 0;
} 

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  text-decoration: none;
  color: #81CFC2;
}

.navbar-expand-md .navbar-nav .nav-link
{
  padding: 0 15px;
}